tensorflow==2.18.0
pillow~=11.1.0
lxml~=5.3.0
matplotlib~=3.9.4
tf_slim
cython
context lib2~=21.6.0
jupyter
pandas~=2.2.3
scipy~=1.13.1

numpy~=2.0.2
six~=1.17.0
PyYAML~=6.0.2
opencv-python~=4.11.0.86
requests~=2.32.3
webcolors~=24.11.1
setuptools~=58.1.0
h5py~=3.12.1
tensorboard~=2.18.0
ipython~=8.18.1
keras~=3.8.0